body{
	background-color:violet;
	}
button{
	background-color:lightgrey;
	}
button:hover{
	background-color:orange;
	}

button:focus{
	background-color:red;
	}
h1{
	color:blue;
	text-align:center;
	}
table{
	margin:50px auto;
	width:50%;border:1px solid black;
	table-align:center;
	}
p{
	color:stateblue;
	}
h2{
	text-decoration:underline;
	text-align:left
}
