body{
	background-color:violet;
	}
button{
	background-color:lightgrey;
	}
button:hover{
	background-color:orange;
	}
button:focus{
	background-color:red;
	}
h1{
	color:blue;
	}
h2{
	text-decoration:underline;
	}
table{
	margin:50px auto;
	}
p{
	color:stateblue;
	}
